@model GetLotsViewModel
@{
  ViewData["Title"] = "Gestion des lots";
  Lot temporaryLot = new Lot();
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  @foreach (var item in @Model.Entreprises)
  {
    string tabId = $"myTab-{item.Id}";
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="@tabId" data-bs-toggle="tab" data-bs-target="@($"#{tabId}-pane")" type="button"
        role="tab" aria-controls="@($"{tabId}-pane")" aria-selected="true">@item.NomEntreprise</button>
    </li>
  }
</ul>
<div class="tab-content" id="myTabContent">
  @foreach (var item in Model.Entreprises)
  {
    List<Lot> lots = Model.Lots
    .Where(l => l.IdEntreprise == @item.Id)
    .ToList();

    string tabId = $"myTab-{item.Id}";
    <div class="tab-pane fade" id="@($"{tabId}-pane")" role="tabpanel" aria-labelledby="@($"{tabId}-tab")" tabindex="0">
      <section class="section">
        <div class="row">
          <div class="col-lg-8">


            <!-- display des lots -->
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">LOTS @item.NomEntreprise</h5>
                <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                  data-bs-target="#new-@item.NomEntreprise">Ajouter un
                  lot</button>
              </div>
              <!-- Modal d'ajout de lot -->
              <div class="modal fade" id="new-@item.NomEntreprise" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ajoutez un nouveau lot à @item.NomEntreprise</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post" class="row g-3" asp-controller="Lot" asp-action="NewLot">
                        <div class="col-md-12">
                          <input asp-for="@temporaryLot.IdEntreprise" type="hidden" class="form-control"
                            placeholder="IdEntreprise" name="IdEntreprise" value="@item.Id">
                        </div>
                        <div class="col-md-6">
                          <input asp-for="@temporaryLot.Designation" type="text" class="form-control"
                            placeholder="Désignation" name="designation" required>
                        </div>
                        <div class="col-md-6">
                          <input asp-for="@temporaryLot.IdLot" type="text" class="form-control" placeholder="IdLot"
                            name="idLot" required>
                        </div>
                        <div class="col-12">
                          <input asp-for="@temporaryLot.CoefPose" type="number" class="form-control"
                            placeholder="Coéficient de Lot" name="coefPose" step="0.001" min="0" max="1">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abandonner</button>
                          <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Vertically centered Modal-->

              <div class="card-body">
                <!-- Boucle des lots -->
                <div class="accordion" id="accordionLots-@item.Id">
                  @foreach (var lot in lots)
                  {
                    if (!lot.IdLot.Contains("."))
                    {
                      <div class="accordion-item">
                        <div class="accordion-header d-flex justify-content-between align-items-center" id="heading-@lot.Id">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-@lot.Id" aria-expanded="false" aria-controls="collapse-@lot.Id">
                            Lot n°@lot.IdLot | @lot.Designation | Coéficient de pose : @lot.CoefPose
                          </button>
                          <div class="d-flex justify-content-between align-items-center m-4 gap-2">
                            <div class="col">
                              <button type="submit" class="btn btn-sm btn-outline-secondary">Modifier</button>
                            </div>
                            <form asp-area="" asp-controller="Lot" asp-action="DeleteLot" asp-route-id="@lot.Id" method="post"
                              onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce lot ?');">
                              <div class="col">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Supprimer</button>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div id="collapse-@lot.Id" class="accordion-collapse collapse" aria-labelledby="heading-@lot.Id"
                          data-bs-parent="#accordionLots-@item.Id">
                          <div class="accordion-body">
                            <!-- Boucle des souslots -->
                            <div class="accordion" id="accordionSousLots-@item.Id">
                              <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-sm btn-dark">Ajouter un sous-lot</button>
                              </div>
                              @foreach (var souslot in lots)
                              {
                                if (souslot.IdLot.StartsWith($"{lot.IdLot}."))
                                {
                                  <div class="accordion-item">
                                    <div class="accordion-header d-flex justify-content-between align-items-center"
                                      id="heading-@souslot.Id">
                                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-@souslot.Id" aria-expanded="false"
                                        aria-controls="collapse-@souslot.Id">
                                        @souslot.IdLot @souslot.Designation
                                      </button>
                                      <div class="d-flex justify-content-between align-items-center m-4 gap-2">
                                        <div class="col">
                                          <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                        </div>
                                        <div class="col">
                                          <button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button>
                                        </div>
                                      </div>
                                    </div>
                                    <div id="collapse-@souslot.Id" class="accordion-collapse collapse"
                                      aria-labelledby="heading-@souslot.Id" data-bs-parent="#accordionSousLots-@item.Id">
                                      <div class="accordion-body">
                                        <!-- Boucle des lots terminaux -->
                                        <div class="accordion" id="accordionLotsTerminaux-@item.Id">
                                          <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-sm btn-dark">Ajouter un lot terminal</button>
                                          </div>
                                          @foreach (var lotTerminal in lots)
                                          {
                                            if (souslot.IdLot.StartsWith($"{lot.IdLot}.{souslot.IdLot}"))
                                            {
                                              <div class="accordion-item">
                                                <div class="accordion-header d-flex justify-content-between align-items-center"
                                                  id="heading-@lotTerminal.Id">
                                                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-@lotTerminal.Id" aria-expanded="false"
                                                    aria-controls="collapse-@lotTerminal.Id">
                                                    @lotTerminal.IdLot @lotTerminal.Designation
                                                  </button>
                                                  <div class="d-flex justify-content-between align-items-center m-4 gap-2">
                                                    <div class="col">
                                                      <button type="button" class="btn btn-sm btn-outline-secondary">Modifier</button>
                                                    </div>
                                                    <div class="col">
                                                      <button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div id="collapse-@lotTerminal.Id" class="accordion-collapse collapse"
                                                  aria-labelledby="heading-@lotTerminal.Id"
                                                  data-bs-parent="#accordionLotsTerminaux-@item.Id">
                                                  <div class="accordion-body">
                                                    <!-- Boucle des lots terminaux -->
                                                    Quoicoubeh
                                                  </div>
                                                </div>
                                              </div>
                                            }
                                          }
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                }
                              }
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                  }
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
  }
</div>