@model GetLotsViewModel
@{
  ViewData["Title"] = "Gestion des lots";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  @foreach (var item in @Model.Entreprises)
  {
    string tabId = $"myTab-{item.Id}";
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="@tabId" data-bs-toggle="tab" data-bs-target="@($"#{tabId}-pane")" type="button"
        role="tab" aria-controls="@($"{tabId}-pane")" aria-selected="true">@item.NomEntreprise</button>
    </li>
  }
</ul>
<div class="tab-content" id="myTabContent">
  @foreach (var item in Model.Entreprises)
  {
    List<Lot> lots = Model.Lots
    .Where(l => l.IdEntreprise == @item.Id)
    .ToList();

    string tabId = $"myTab-{item.Id}";
    <div class="tab-pane fade" id="@($"{tabId}-pane")" role="tabpanel" aria-labelledby="@($"{tabId}-tab")" tabindex="0">
      <section class="section">
        <div class="row">
          <div class="col-lg-6">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">LOTS @item.NomEntreprise</h5>

                <!-- Default Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Numéro</th>
                      <th scope="col">Désignation</th>
                      <th scope="col">Coéficient de Pose</th>
                    </tr>
                  </thead>
                  <tbody>
                    @foreach (var lot in lots)
                    {
                      <tr>
                        <th scope="row">@lot.IdLot</th>
                        <td>@lot.Designation</td>
                        <td>@lot.CoefPose</td>
                      </tr>
                      }
                    </tbody>
                  </table>
                  <!-- End Default Table Example -->
                </div>
              </div>
            </div>
          </div>
      </div>
                    }
  </div>