@model GetLotsViewModel
@{
  ViewData["Title"] = "Gestion des lots";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  @foreach (var item in @Model.Entreprises)
  {
    string tabId = $"myTab-{item.Id}";
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="@tabId" data-bs-toggle="tab" data-bs-target="@($"#{tabId}-pane")" type="button"
        role="tab" aria-controls="@($"{tabId}-pane")" aria-selected="true">@item.NomEntreprise</button>
    </li>
  }
</ul>
<div class="tab-content" id="myTabContent">
  @foreach (var item in Model.Entreprises)
  {
    List<Lot> lots = Model.Lots
    .Where(l => l.IdEntreprise == @item.Id)
    .ToList();

    string tabId = $"myTab-{item.Id}";
    <div class="tab-pane fade" id="@($"{tabId}-pane")" role="tabpanel" aria-labelledby="@($"{tabId}-tab")" tabindex="0">
      <section class="section">
        <div class="row">
          <div class="col-lg-6">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">LOTS @item.NomEntreprise</h5>
                <!-- Boucle des lots -->
                <div class="accordion" id="accordionLots-@item.Id">
                  @foreach (var lot in lots)
                  {
                    if (!lot.IdLot.Contains("."))
                    {
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-@lot.Id">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-@lot.Id" aria-expanded="false" aria-controls="collapse-@lot.Id">
                            @lot.IdLot @lot.Designation
                          </button>
                        </h2>
                        <div id="collapse-@lot.Id" class="accordion-collapse collapse" aria-labelledby="heading-@lot.Id"
                          data-bs-parent="#accordionLots-@item.Id">
                          <div class="accordion-body">
                            <!-- Boucle des souslots -->
                            <div class="accordion" id="accordionSousLots-@item.Id">
                            @foreach (var souslot in lots)
                            {
                              if (souslot.IdLot.StartsWith($"{lot.IdLot}."))
                              {
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="heading-@souslot.Id">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                      data-bs-target="#collapse-@souslot.Id" aria-expanded="false" aria-controls="collapse-@souslot.Id">
                                      @souslot.IdLot @souslot.Designation
                                    </button>
                                  </h2>
                                  <div id="collapse-@souslot.Id" class="accordion-collapse collapse" aria-labelledby="heading-@souslot.Id"
                                    data-bs-parent="#accordionSousLots-@item.Id">
                                    <div class="accordion-body">
                                      Quoicoubeh
                                    </div>
                                  </div>
                                </div>
                              }
                            }
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                  }
                </div>

              </div>
            </div>
          </div>
        </div>
    </div>
  }
</div>