@model LotsViewModel
@{
  ViewData["Title"] = "Gestion des lots";
  Lot temporaryLot = new Lot();

    List<Lot> lots = Model.Lots
    .Where(l => l.IdEntreprise == Model.Entreprise.Id)
    .ToList();
}
<h1>@ViewData["Title"] - @Model.Entreprise.NomEntreprise</h1>

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Dashboard"
                    asp-action="Index">Dashboard</a>
            </li>
            <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Entreprise"
                    asp-action="Entreprises">Entreprises</a>
            </li>
            <li class="breadcrumb-item active">Lots - @Model.Entreprise.NomEntreprise</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col">

            <!-- display des lots -->
            <div class="card">
              <div class="card-header d-flex justify-content-between align-Model.Entreprises-center">
                <h5 class="card-title mb-0">LOTS @Model.Entreprise.NomEntreprise</h5>
                <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal"
                  data-bs-target="#new-@Model.Entreprise.NomEntreprise">Ajouter un
                  lot</button>
              </div>
              <!-- Modal d'ajout de lot -->
              <div class="modal fade" id="new-@Model.Entreprise.NomEntreprise" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Ajoutez un nouveau lot à @Model.Entreprise.NomEntreprise</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post" class="row g-3" asp-controller="Lot" asp-action="NewLot">
                        <div class="col-md-12">
                          <input asp-for="@temporaryLot.IdEntreprise" type="hidden" class="form-control"
                            placeholder="IdEntreprise" name="IdEntreprise" value="@Model.Entreprise.Id">
                        </div>
                        <div class="col-md-6">
                          <input asp-for="@temporaryLot.Designation" type="text" class="form-control"
                            placeholder="Désignation" name="designation" required>
                        </div>
                        <div class="col-md-6">
                          <input asp-for="@temporaryLot.IdLot" type="text" class="form-control" placeholder="IdLot"
                            name="idLot" required>
                        </div>
                        <div class="col-12">
                          <input asp-for="@temporaryLot.CoefPose" type="text" class="form-control"
                            placeholder="Coéficient de Lot" name="coefPose" pattern="[0-9]+(\.[0-9]+)?" >
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abandonner</button>
                          <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Vertically centered Modal-->

              <div class="card-body">
                <!-- Boucle des lots -->
                  @foreach (Lot lot in lots)
                  {
                  <div class="accordion" id="accordionLots-@lot.Id">
                    @if (!lot.IdLot.Contains("."))
                    {
                      Model.Lot = lot;
                      @await Html.PartialAsync("LotPartial/EditLot", Model)
                    }
                  </div>
                  }

              </div>
            </div>
          </div>
        </div>