@model EntrepriseViewModel
@{
    string modalId = $"myModal-{Model.TargetCompteBancaire.Id}";
}

<div class="info-box card">
    <div class="row">
        <div class="col">
            <i class="bi bi-geo-alt"></i>
            <h3>@Model.TargetCompteBancaire.NomBanque</h3>
        </div>
        <div class="col text-end">
                <!-- Delete -->
                <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#deleteModal-@Model.TargetCompteBancaire.Id">
                    <i class="ri-delete-bin-2-line fs-2"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal-@Model.TargetCompteBancaire.Id" tabindex="-1" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                                Êtes-vous sûr de vouloir supprimer ce compte bancaire ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                <form asp-area="" asp-controller="CompteBancaire" asp-action="DeleteCompteBancaire"
                                    asp-route-id="@Model.TargetCompteBancaire.Id" method="post">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 justify-content-center">

            <div class="row m-2">
                <div class="col-lg-6 col-md-6 text-end">
                    <i class="bi bi-credit-card"></i>
                    <h5>Numéro de compte :</h5>
                </div>
                <div class="col-lg-6 col-md-6">@Model.TargetCompteBancaire.NumCompte</div>
            </div>

            <div class="row m-2">
                <div class="col-lg-6 col-md-6 text-end">
                    <i class="bi bi-geo-alt"></i>
                    <h5>Adresse :</h5>
                </div>
                <div class="col-lg-6 col-md-6">@Model.TargetCompteBancaire.Adresse</div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 justify-content-center">
            <div class="row m-2">
                <div class="col-lg-6 col-md-6 label text-end">
                    <i class="bi bi-credit-card-2-front"></i>
                    <h5>Code BIC :</h5>
                </div>
                <div class="col-lg-6 col-md-6">@Model.TargetCompteBancaire.BIC</div>
            </div>

            <div class="row m-2">
                <div class="col-lg-6 col-md-6 text-end">
                    <i class="bi bi-credit-card-2-back"></i>
                    <h5>IBAN :</h5>
                </div>
                <div class="col-lg-6 col-md-6">@Model.TargetCompteBancaire.IBAN</div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <div class="text-end">
                <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="modal"
                    data-bs-target="#@modalId">Modifier</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="@modalId" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mise à jour des informations du compte bancaire N°@Model.TargetCompteBancaire.NumCompte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form method="post" class="row g-3 needs-validation" asp-controller="CompteBancaire" asp-action="EditCompteBancaire" asp-route-id="@Model.TargetCompteBancaire.Id" novalidate>
                                <input asp-for="@Model.TargetCompteBancaire.IdEntreprise" type="hidden"
                                 name="IdEntreprise" value="@Model.TargetEntreprise.Id" required>
                            <div class="col-md-6">
                                <input asp-for="@Model.TargetCompteBancaire.NomBanque" type="text"
                                    class="form-control" placeholder="Nom de la Banque" name="NomBanque">
                            </div>
                            <div class="col-md-6">
                                <input asp-for="@Model.TargetCompteBancaire.Adresse" type="text" class="form-control" placeholder="Adresse"
                                    name="adresse">
                            </div>
                            <div class="col-md-6">
                                <input asp-for="@Model.TargetCompteBancaire.IBAN" type="text" class="form-control"
                                    placeholder="IBAN" name="iban" pattern="[A-Z]{2}[0-9]{2}[A-Z0-9]{4}[0-9]{7}[A-Z0-9]{0,16}">
                            </div>
                            <div class="col-md-6">
                                <input asp-for="@Model.TargetCompteBancaire.BIC" type="text" class="form-control" placeholder="BIC"
                                    name="bic" pattern="[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?">
                            </div>
                            <div class="col-md-6">
                                <input asp-for="@Model.TargetCompteBancaire.NumCompte" type="text" class="form-control" placeholder="Numéro de compte bancaire"
                                    name="numCompte" pattern="[0-9]{11}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Abandonner</button>
                                <button type="submit" class="btn btn-success">Sauvegarder</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div><!-- Fin du Modal centré verticalement -->
</div>
