@model Entreprise
@{string modalId = $"myModal-{Model.Id}";}

<div class="container-fluid text-end">
    <form asp-area="" asp-controller="Entreprise" asp-action="DeleteEntreprise" asp-route-id="@Model.Id" method="post"
        onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette entreprise?');">
        <button type="submit" class="btn btn-outline-dark"><i class="ri-delete-bin-2-line fs-4"></i></button>
    </form>
</div>
<div class="info-box card">
    <i class="bi bi-geo-alt"></i>
    <h3>@Model.NomEntreprise</h3>
    <p>@Model.Activite</p>
    <button class="btn btn-outline-dark btn-sm mt-4" type="button" data-bs-toggle="modal"
        data-bs-target="@($"#{modalId}")">Modifier les informations</button>

    <div class="modal fade" id="@modalId" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mise à jour des informations de @Model.NomEntreprise</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" class="row g-3" asp-controller="Entreprise" asp-action="EditEntreprise"
                        asp-route-Id="@Model.Id">
                        <div class="col-md-12">
                            <input asp-for="@Model.NomEntreprise" type="text" class="form-control"
                                placeholder="Nom de l'entreprise" name="nomEntreprise" required>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="@Model.Siret" type="text" class="form-control" placeholder="Siret"
                                name="siret" required>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="@Model.Siege" type="text" class="form-control" placeholder="Siege"
                                name="siege" required>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Activite" type="text" class="form-control" placeholder="Activite"
                                name="activite" required>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="@Model.APE" type="text" class="form-control" placeholder="APE" name="ape"
                                required>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="@Model.Statut" type="text" class="form-control" placeholder="Statut"
                                name="statut" required>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea asp-for="@Model.Description" class="form-control" id="floatingTextarea"
                                    style="height: 100px;"></textarea>
                                <label for="floatingTextarea">Description</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abandonner</button>
                            <button type="submit" class="btn btn-success">Sauvegarder</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- Fin du Modal centré verticalement -->
</div>