@model List<Entreprise>
@{
  ViewData["Title"] = "Entreprises";
}
<h1>@ViewData["Title"]</h1>

<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Devis</a>
      </li>
      <li class="breadcrumb-item">Pages</li>
      <li class="breadcrumb-item active">Contact</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<section class="section contact">
  <div class="col-lg-6">
    @foreach (var item in Model)
    {
      <div class="info-box card">
        <i class="bi bi-geo-alt"></i>
        <h3>@item.NomEntreprise</h3>
        <p>@item.Activite</p>
        <button class="btn btn-outline-dark btn-sm mt-4" type="button" data-bs-toggle="modal"
          data-bs-target="#verticalycentered">Modifier les informations</button>

        <div class="modal fade" id="verticalycentered" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Mise à jour des informations de @item.NomEntreprise</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" class="row g-3" asp-controller="Entreprise" asp-action="ModifierEntreprise"
                  asp-route-Id="@item.Id">
                  <div class="col-md-12">
                    <input asp-for="@item.NomEntreprise" type="text" class="form-control"
                      placeholder="Nom de l'entreprise" name="nomEntreprise" required>
                  </div>
                  <div class="col-md-6">
                    <input asp-for="@item.Siret" type="text" class="form-control" placeholder="Siret" name="siret"
                      required>
                  </div>
                  <div class="col-md-6">
                    <input asp-for="@item.Siege" type="text" class="form-control" placeholder="Siege" name="siege"
                      required>
                  </div>
                  <div class="col-12">
                    <input asp-for="@item.Activite" type="text" class="form-control" placeholder="Activite"
                      name="activite" required>
                  </div>
                  <div class="col-md-6">
                    <input asp-for="@item.APE" type="text" class="form-control" placeholder="APE" name="ape" required>
                  </div>
                  <div class="col-12">
                    <div class="form-floating">
                      <textarea asp-for="@item.Description" class="form-control" id="floatingTextarea"
                        style="height: 100px;"></textarea>
                      <label for="floatingTextarea">Description</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abandonner</button>
                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div><!-- End Vertically centered Modal-->
      </div>

    }
</section>
