@model ClientViewModel
@{
  ViewData["Title"] = "Nouveau Devis";
}

<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Dashboard"
          asp-action="Index">Dashboard</a>
      </li>
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Client"
          asp-action="Clients">Clients</a>
      </li>
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Projet" asp-action="Projets"
          asp-route-idClient="@Model.TargetClient.Id">Projets - @Model.TargetClient.Nom</a>
      </li>
      <li class="breadcrumb-item active">Paramètres - @Model.TargetProjet.NomProjet</li>
    </ol>
  </nav>
</div><!-- End Page Title -->

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Paramètres de modélisation @Model.TargetProjet.NomProjet</h5>
        <!-- Horizontal Form -->
        <form asp-controller="Projet" asp-action="UpdateParams" asp-route-idProjet="@Model.TargetProjet.Id"
              class="needs-validation" novalidate>
          <div class="row mb-3">
            @foreach (var parametre in Model.Parametres)
            {
              if (parametre.IdProjet == Model.TargetProjet.Id)
              {
                <div class="col-sm-3">
                  <label for="@parametre.Id" class="col-form-label">@parametre.Nom</label>
                  <input type="text" class="form-control" id="@parametre.Id" name="parametres[@parametre.Id].Valeur" required
                         pattern="[0-9]+([.][0-9]+)?" asp-for="@Model.ProjetParametres[parametre.Id].Valeur" required>
                  <div class="invalid-feedback">
                    Veuillez entrer un nombre de type décimal.
                  </div>
                </div>
              }
            }
          </div>
          <div class="text-center m-1">
            <button type="submit" class="btn btn-success">Sauvegarder les paramètres</button>
          </div>
        </form><!-- End Horizontal Form -->
        <div class="text-center m-1">
          <a type="button" class="btn btn-secondary" asp-controller="Projet" asp-action="ResetParams"
            asp-route-idProjet="@Model.TargetProjet.Id">Réinitialiser</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Stepper exemple -->

@* <div class="mb-5 p-4 bg-white shadow-sm">
<h3>Modélisation du Projet</h3>
<div id="stepper1" class="bs-stepper linear">
<div class="bs-stepper-header" role="tablist">
<div class="step active" data-target="#choix">
<button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="choix"
aria-selected="true">
<span class="bs-stepper-circle">1</span>
<span class="bs-stepper-label">Paramètres disponibles</span>
</button>
</div>
<div class="bs-stepper-line"></div>
<div class="step" data-target="#valeur">
<button type="button" class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="valeur"
aria-selected="false" disabled="disabled">
<span class="bs-stepper-circle">2</span>
<span class="bs-stepper-label">Valeurs des Paramètres</span>
</button>
</div>
<div class="bs-stepper-line"></div>
<div class="step" data-target="#test-l-3">
<button type="button" class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3"
aria-selected="false" disabled="disabled">
<span class="bs-stepper-circle">3</span>
<span class="bs-stepper-label">Informations</span>
</button>
</div>
</div>
<div class="bs-stepper-content">

<form method="post" asp-controller="" asp-action="">
<div id="choix" role="tabpanel" class="bs-stepper-pane active dstepper-block"
aria-labelledby="stepper1trigger1">
@foreach (var parametre in Model.Parametres)
{
<div class="row mb-3">
<label class="col-sm-2 col-form-label">@parametre.Nom</label>
<div class="col-sm-10">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" name="@parametre.Id">
<label class="form-check-label">@parametre.Explication</label>
</div>
</div>
</div>
}
<button class="btn btn-secondary btn-next-form m-2">Next</button>
</div>
</form>

<div id="valeur" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger2">
<div class="row mb-3">
<label class="col-sm-2 col-form-label">Choix du client</label>
<div class="col-sm-10">
<select asp-for="@Model.TargetProjet.IdClient" asp-items="@Model.ListeClients"
class="form-select" id="form-stepper-3" name="cli-2" aria-label="Default select example"
required>
<option value="" selected>Choisissez un client</option>
</select>
</div>
</div>
<button class="btn btn-secondary btn-previous-form m-2" onclick="stepper1.previous()">Previous</button>
<button type="submit" class="btn btn-success btn-next-form m-2">Enregistrer le projet</button>
</div>
<div id="test-l-3" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger2">
<div class="form-group">
<label for="exampleInputPassword1">Password</label>
<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password"
name="password" required>
<div class="invalid-feedback">Please enter a password.</div>
</div>
<button type="submit" class="btn btn-success btn-next-form m-2">Enregistrer le projet</button>
</div>
</div>
</div>
</div> *@
