@model ClientViewModel
@{
  ViewData["Title"] = "Nouveau Devis";
  int i = 0;
}

<div class="pagetitle">
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Dashboard"
          asp-action="Index">Dashboard</a>
      </li>
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Client"
          asp-action="Clients">Clients</a>
      </li>
      <li class="breadcrumb-item"><a class="navbar-brand" asp-area="" asp-controller="Projet" asp-action="Projets"
          asp-route-idClient="@Model.TargetClient.Id">Projets - @Model.TargetClient.Nom</a>
      </li>
      <li class="breadcrumb-item active">Paramètres - @Model.TargetProjet.NomProjet</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


@if (Model.TargetProjet.Init == false)
{
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Paramètres de modélisation @Model.TargetProjet.NomProjet</h5>
          <!-- Horizontal Form -->
          <form asp-controller="Projet" asp-action="UpdateParams" asp-route-idProjet="@Model.TargetProjet.Id"
                class="needs-validation" novalidate>
            <div class="row mb-3">
              @foreach (var parametre in Model.Parametres)
              {
                if (parametre.IdProjet == Model.TargetProjet.Id)
                {
                  <div class="col-sm-3">
                    <label for="@parametre.Id" class="col-form-label">@parametre.Nom</label>
                    <input type="text" class="form-control" id="@parametre.Id" required
                           pattern="[0-9]+([.][0-9]+)?" asp-for="@Model.ValeurParametres[i]" placeholder="@parametre.Unite" required>
                    <div class="invalid-feedback">
                      Veuillez entrer un nombre de type décimal.
                    </div>
                  </div>
                  i++;
                }
              }
            </div>
            <div class="text-center m-1">
              <button type="submit" class="btn btn-success">Sauvegarder les paramètres</button>
            </div>
          </form><!-- End Horizontal Form -->
        </div>
      </div>
    </div>
  </div>
}
else
{
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Paramètres de modélisation @Model.TargetProjet.NomProjet</h5>
          <!-- Horizontal Form -->
          <form asp-controller="Projet" asp-action="UpdateParams" asp-route-idProjet="@Model.TargetProjet.Id"
                class="needs-validation" novalidate>
            <div class="row mb-3">
              @foreach (var parametre in Model.Parametres)
              {
                if (parametre.IdProjet == Model.TargetProjet.Id)
                {
                  <div class="col-sm-3">
                    <label for="@parametre.Id" class="col-form-label">@parametre.Nom</label>
                    <input type="text" class="form-control" id="@parametre.Id"
                           pattern="[0-9]+([.][0-9]+)?" asp-for="@Model.ValeurParametres[i]" placeholder="@parametre.Unite">
                    <div class="invalid-feedback">
                      Veuillez entrer un nombre de type décimal.
                    </div>
                  </div>
                  i++;
                }
              }
            </div>
            <div class="text-center m-1">
              <button type="submit" class="btn btn-success">Sauvegarder les paramètres</button>
            </div>
          </form><!-- End Horizontal Form -->
          <div class="text-center m-1">
            <a type="button" class="btn btn-secondary" asp-controller="Projet" asp-action="ResetParams"
              asp-route-idProjet="@Model.TargetProjet.Id">Réinitialiser</a>
          </div>
        </div>
      </div>
    </div>
  </div>
}
